[submodule "jai-simpler"]
	path = Simpler
	url = git@github.com:dbechrd/jai-simpler.git
[submodule "jai-trivial"]
	path = Trivial
	url = git@github.com:dbechrd/jai-trivial.git
[submodule "jai-yojimbo"]
	path = Yojimbo
	url = git@github.com:dbechrd/jai-yojimbo.git
[submodule "jai-netcode"]
	path = Netcode
	url = git@github.com:dbechrd/jai-netcode.git
[submodule "jai-ip-address"]
	path = IPAddress
	url = git@github.com:dbechrd/jai-ip-address.git
[submodule "jai-assertive"]
	path = Assertive
	url = git@github.com:dbechrd/jai-assertive.git
[submodule "jai-reliable"]
	path = Reliable
	url = git@github.com:dbechrd/jai-reliable.git
[submodule "jai-serialize"]
	path = Serialize
	url = git@github.com:dbechrd/jai-serialize.git
[submodule "jai-docs"]
	path = jai-docs
	url = git@github.com:dbechrd/jai-docs.git
